<div class="flex-shrink-0 p-3 bg-white" id="nav-menu">
    <div class="nav-menu-category">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#old-tasks-collapse" aria-expanded="false">Старые задачи</button>
    </div>

    <div class="nav-menu-category">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#new-tasks-collapse" aria-expanded="false">Новые задачи</button>
    </div>

     <div class="nav-menu-category">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#forms-tasks-collapse" aria-expanded="false">Формы</button>
     </div>

      <div class="nav-menu-category">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#filter-tasks-collapse" aria-expanded="false">Поиск</button>
      </div>

    <div class="collapse" id="old-tasks-collapse">
        <h4>Старые задачи (1.5: view)</h4>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url appname|add:'view_1' %}">Количество происшествий</a></li>
            <li><a href="{% url appname|add:'view_2' %}?id=4">Данные заявителя с ID 4</a></li>
            <li><a href="{% url appname|add:'view_3' %}">Редирект</a></li>
            <li><a href="{% url appname|add:'view_4' %}?test=hello&foo=bar&msg=text">Эхо запроса</a></li>
            <li><a href="{% url appname|add:'view_5' %}?phone=89873333333">Данные заявителя с телефоном 89873333333</a></li>
            <li><a href="{% url appname|add:'view_6' uid=5 %}">Данные заявителя с ID 5 в JSON</a></li>
        </ul>
    </div>

    <div class="collapse" id="new-tasks-collapse">
        <h4>Новые задачи</h4>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url appname|add:'all_appeals' %}">Данные об обращениях</a></li>
            <li><a href="{% url appname|add:'all_applicants' %}">Данные о заявителях</a></li>
            <li><a href="{% url appname|add:'all_applicants_numbered' %}">Данные о заявителях (пронумерованных)</a></li>
        </ul>
    </div>

     <div class="collapse" id="forms-tasks-collapse">
        <h4>Формы</h4>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url appname|add:'add_appeal' %}">Создание обращения</a></li>
            <li><a href="{% url appname|add:'add_applicant' %}">Создание заявителя</a></li>
            <li><a href="{% url appname|add:'add_service' %}">Создание экстренной службы</a></li>
            <li><a href="{% url appname|add:'edit_appeal' pk=1 %}">Изменение обращения (с ID 1)</a></li>
            <li><a href="{% url appname|add:'edit_applicant' pk=1 %}">Изменение заявителя (с ID 1)</a></li>
            <li><a href="{% url appname|add:'edit_service' pk=1 %}">Изменение службы (с ID 1)</a></li>
        </ul>
    </div>

    <div class="collapse" id="filter-tasks-collapse">
        <h4>Поиск</h4>
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url appname|add:'filter_applicant' %}">Поиск по заявителям</a></li>
            <li><a href="{% url appname|add:'filter_appeal' %}">Поиск по заявлениям</a></li>
            <li><a href="{% url appname|add:'filter_applicant_name' %}">Поиск заявителей по активности</a></li>
        </ul>
    </div>
    <h6>Текущее приложение: {{request.resolver_match.app_name}}</h6>
</div>